.main-link--emojis-weather-map {
  .main-link__body {
    .main-link__title {
      color: #2d353e;
    }

    .main-link__background {
      width: 110%;
      height: 110%;
      top: -10px;
      left: -2px;
    }
  }
}
