.main-link--flowtos {
  .main-link__body {
    .main-link__title {
      color: #2d353e;
      font-size: 1.75rem !important;
    }

    .main-link__background {
      transition: top 1.25s ease-out, left 1.25s ease-out;
      top: 0;
      opacity: 0.25;
      filter: blur(3px);
      left: 0;
    }
  }
}

.main-link--flowtos a:hover {
  .main-link__body {
    .main-link__background {
      transition: top 8s linear, left 8s linear;
      top: -500px;
      left: -500px;
    }
  }
}
