// Load CSS Reset from NPM
//@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";

body {
  padding: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #386ca8;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.25s;
}

a:hover {
  color: #307fda;
  text-decoration: underline;
}

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  @include media-breakpoint-down(sm) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.description {
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    white-space: normal;
  }
}

.main-links {
  margin-left: 25px;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-top: 25px;
  }

  .main-link {
    padding: 5px;

    @include media-breakpoint-down(sm) {
      padding: 0;
      padding-bottom: 25px !important;
    }

    a:hover {
      text-decoration: none;
    }

    .main-link__body {
      height: 175px;
      border: 1px solid lightgray;
      border-radius: 4px;
      transition: all 0.25s;
      overflow: hidden;
      position: relative;

      .main-link__background {
        z-index: 0;
        position: absolute;
      }

      .main-link__title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 1.75rem;
        padding: 5px;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .main-link__body:hover {
      box-shadow: 1px 1px 7px #d4d4d4;
      transform: scale(1.025);
    }
  }

  .main-link--resume {
    .main-link__body {
      background: radial-gradient(ellipse at center, #145885 0%, #170101 100%);

      .main-link__background {
        opacity: 0.5;
      }

      .main-link__title {
        color: white;
      }
    }
  }

  .main-link--flowtos {
    .main-link__body {
      .main-link__title {
        color: #2d353e;
      }

      .main-link__background {
        filter: blur(5px);
        transform: rotate(-17deg);
        top: -45px;
        opacity: 0.5;
        left: 64px;
      }
    }
  }

  .main-link--blog-vie {
    .main-link__body {
      .main-link__title {
        height: auto;
        color: #2d353e;
      }

      .main-link__background {
        bottom: 0;

        img {
          width: 100%;
        }
      }
    }
  }

  .main-link--winerror-simulator {
    .main-link__body {
      .main-link__title {
        color: #2d353e;
      }

      .main-link__background {
        left: 10px;
        top: 10px;

        img {
          width: 30%;
        }
      }
    }
  }

  .main-link--emojis-weather-map {
    .main-link__body {
      .main-link__title {
        color: #2d353e;
      }

      .main-link__background {
        width: 110%;
        height: 110%;
        top: -10px;
        left: -2px;
      }
    }
  }
}
