// Load CSS Reset from NPM
//@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";

body {
  padding: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #386ca8;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.25s;
}

a:hover {
  color: #307fda;
  text-decoration: underline;
}

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  @include media-breakpoint-down(sm) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.description {
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    white-space: normal;
  }
}

.main-links {
  margin-left: 25px;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-top: 25px;
  }

  .main-link {
    padding: 10px;

    @include media-breakpoint-down(sm) {
      padding: 0;
      padding-bottom: 25px !important;
      padding-right: 15px;
      padding-left: 15px;
    }

    a:hover {
      text-decoration: none;
    }

    .main-link__body {
      height: 175px;
      border: 1px solid lightgray;
      border-radius: 4px;
      transition: all 0.25s;
      overflow: hidden;
      position: relative;

      @include media-breakpoint-down(sm) {
        height: 250px;
      }

      .main-link__background {
        z-index: 0;
        position: absolute;
      }

      .main-link__title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        padding: 10px;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .main-link__body:hover {
      box-shadow: 0 0 0 5px #b1d9fc;
    }
  }
}

@import "./resume.scss";
@import "./flowtos.scss";
@import "./blog-vie.scss";
@import "./winerror-simulator.scss";
@import "./emojis-weather-map.scss";
